.bg-secondary {
    background-color: #4c433d !important;
}

.copyright {
    background-color: #675D50;
}

.bg-primary {
    background-color: #b2a183 !important;
}

nav {
    font-weight: 700;
}

.img-card {
    height: 18vw;
    object-fit: cover;
}
